@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply h-full;
}

body {
  @apply antialiased bg-white flex flex-col;
}

main {
  @apply grid;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply bg-primary-100 drop-shadow-lg rounded-lg;
}

h1 {
  @apply text-5xl font-bold text-neutral-700 font-heading mb-3;
  line-height: 68px;
}
h2 {
  @apply text-3xl text-neutral-700 font-bold font-heading mb-3;
}
h3 {
  @apply text-2xl text-neutral-700 font-bold font-heading mb-3;
}
h4 {
  @apply text-xl text-neutral-700 font-bold font-heading mb-3
}

label {
  @apply text-neutral-600 font-body;
}

h1:last-child,
p:last-child {
  @apply mb-0;
}

p {
  @apply font-body mb-1;
}
a {
  @apply text-neutral-600 font-body;
}

a:hover {
  @apply text-primary-500 underline;
}
a:active {
  @apply text-primary-900;
}
button {
  @apply bg-primary-500 text-white font-normal text-base rounded-md shadow-m px-10 py-3 font-Manrope transition-all;
}
button:hover {
  @apply bg-primary-500/80 shadow-md shadow-primary-300 cursor-pointer brightness-110;
}

button:active {
  @apply bg-primary-500/90 scale-90;
}

.section {
  @apply py-24;
}

input,
select {
  @apply p-3 text-base font-normal bg-white rounded-lg outline-none transition-all shadow-sm;
}

input:disabled {
  @apply text-neutral-400 bg-white;
}

.carousel {
  @apply flex gap-6 overflow-x-auto snap-x snap-mandatory scroll-smooth;
}
.carousel > .carousel-item {
  @apply w-full flex-shrink-0 transition-opacity duration-500 ease-in-out;
  scroll-snap-align: start;
  user-select: none;
}

.no-scrollbar::-webkit-scrollbar-track {
  @apply hidden;
}

.no-scrollbar::-webkit-scrollbar-button {
  @apply hidden;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.scrollbar-top {
  transform: rotateX(180deg);
}

.scrollbar-top > * {
  transform: rotateX(180deg);
}
.custom-scrollbar::-webkit-scrollbar {
  @apply h-1;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-r from-primary-200 to-primary-850 rounded-full;
  transform: scaleX(2);
}

::-webkit-progress-value {
  @apply bg-gradient-to-r from-primary-200 to-primary-850;
}
